{% extends "base_generic.html" %}
{% load static %}
{% block content %}
<div class="main-banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 align-self-center">
        <div class="caption header-text">
          <h6>Welcome to Modder Games</h6>
          <h2>BEST GAMING SITE EVER!</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <div class="search-input">
            <form id="search" method="get" action="{% url 'product:search' %}">
              <input type="text" placeholder="Type Something" id='searchText' name="title" onkeypress="handle" />
              <button role="button">Search Now</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-2">
        <div class="right-image">
          <img src="{% static 'assets/images/banner-image.jpg' %}" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section trending">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="section-heading">
          <h6>Trending</h6>
          <h2>Trending Games</h2>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="main-button">
          <a href="{% url 'product:product_list' %}">View All</a>
        </div>
      </div>
      {% for game in games %}
      <div class="col-lg-3 col-md-6">
        <div class="item">
          <div class="thumb">
            <a href="/product/{{game.slug}}"><img src="{{ game.img.url }}" alt=""></a>
            <span class="price">{{ game.price }} JD</span>
          </div>
          <div class="down-content">
            <span class="category">Action</span>
            <h4>{{ game.title }}</h4>
            <a href="/product/{{game.slug}}"><i class="fa fa-shopping-bag" style="position: relative; bottom: -9px;"></i></a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="section most-played">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="section-heading">
          <h2>Entertainment</h2>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="main-button">
          <a href="shop.html">View All</a>
        </div>
      </div>
      {% for game in ent %}
      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="item">
          <div class="thumb">
            <a href="/product/{{game.slug}}"><img src="{{ game.img.url }}" alt=""></a>
          </div>
          <div class="down-content">
              <span class="category">Adventure</span>
              <h4>{{ game.title }}</h4>
              <a href="/product/{{game.slug}}">Buy</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>



      {% endblock content %}

