{% extends "base_generic.html" %}
{% block title %}Edit Profile - Modder Games{% endblock %}

{% block content %}

<div class="page-heading header-text">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3>Profile Edit</h3>
      </div>
    </div>
  </div>
</div>


    <section class="py-5">
    <div class="containera py-5">
>
      <div class="row d-flex justify-content-center">
        <div class="col-md-6 col-xl-4">
            <div
              class="card-body text-center d-flex flex-column align-items-center"
            >
            <form method="post" novalidate>
              {% csrf_token %}
              <div class="mb-3">
                  <label for="{{ user_form.email.id_for_label }}" class="form-label">Email</label>
                  <input type="email" class="form-control abdimp" id="{{ user_form.email.id_for_label }}" name="{{ user_form.email.html_name }}" value="{{ user_form.email.value|default:'' }}" required>
                  {{ user_form.email.errors }}
              </div>
      
              <div class="mb-3">
                  <label for="{{ profile_form.phonenumber.id_for_label }}" class="form-label">Phone Number</label>
                  <input type="text" class="form-control abdimp" id="{{ profile_form.phonenumber.id_for_label }}" name="{{ profile_form.phonenumber.html_name }}" value="{{ profile_form.phonenumber.value|default:'' }}" required>
                  {{ profile_form.phonenumber.errors }}
              </div>
              <div class="mb-3">
                  <label for="{{ profile_form.cliq.id_for_label }}" class="form-label">Cliq Alias</label>
                  <input type="text" class="form-control abdimp" id="{{ profile_form.cliq.id_for_label }}" name="{{ profile_form.cliq.html_name }}" value="{{ profile_form.cliq.value|default:'' }}" required>
                  {{ profile_form.cliq.errors }}
              </div>
              <input type="submit" class="btn btn-primary d-block w-100" value="Save">
          </form>
            </div>
          </div>
        </div>
      </div>
  </section>




{% endblock %}
