{% extends "base_generic.html" %}

{% block content %}

<div class="page-heading header-text">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3>Reset Password</h3>
      </div>
    </div>
  </div>
</div>


    <section class="py-5">
    <div class="containera py-5">
      <div class="row mb-4 mb-lg-5">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
          <h2 class="fw-bold">Reset Password</h2>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-md-6 col-xl-4">
            <div
              class="card-body text-center d-flex flex-column align-items-center"
            >
              <form method="post" action="">
                {% csrf_token %}
                {% if form.email.errors %}
                  {{ form.email.errors }}
                {% endif %}
                <label for="id_email" class="form-label">Email</label>
                  <input class="form-control abdimp" type="email" name="email" id="id_email" placeholder="Enter Your Email" />
              </br>
                  <input type="submit" class="btn btn-primary d-block w-100" value="Reset password">
              </form>
            </div>
          </div>
        </div>
      </div>
  </section>
{% endblock %}
