{% extends "base_generic.html" %}
{% load math_filters %}

{% block content %}
<section class="py-5">
    <div class="container py-5">
        <div class="row mx-auto">
            <div class="col">
                <div data-reflow-type="shopping-cart">
                    <div class="reflow-shopping-cart" style="display: block;">
                        <div class="ref-loading-overlay"></div>
                        <div class="ref-message" style="display: none;"></div>
                        <div class="ref-cart" style="display: block;">
                            <div class="ref-heading">Shopping Cart</div>
                            <div class="ref-th">
                                <div class="ref-product-col">Product</div>
                                <div class="ref-price-col">Price</div>
                                <div class="ref-quantity-col">Quantity</div>
                                <div class="ref-total-col">Total</div>
                            </div>
                            <div class="ref-cart-table">
                                {% if cart %}
                                {% for item in cart %}
                                <div class="ref-product" data-id="{{ item.product.id }}" data-quantity="{{ item.quantity }}">
                                  <div class="ref-product-col">
                                    <div class="ref-product-wrapper">
                                      <img class="ref-product-photo" src="{{ item.product.img.url }}" alt="{{ item.product.title }}">
                                      <div class="ref-product-data">
                                        <div class="ref-product-info">
                                          <div>
                                            <div class="ref-product-name">{{ item.product.title }}</div>
                                            <div class="ref-product-category">{{ item.product.category }}</div>
                                            <div class="ref-product-variants"></div>
                                            <div class="ref-product-personalization-holder"></div>
                                          </div>
                                          <div class="ref-product-price ref-mobile-product-price">${{ item.product.price }}</div>
                                        </div>
                                        <div class="ref-product-controls ref-mobile-product-controls">
                                          <div class="ref-product-quantity">
                                            <div class="ref-quantity-container" data-reflow-product="{{ item.product.id }}" data-reflow-max-qty="999" data-reflow-quantity="{{ item.quantity }}">
                                              <div class="ref-quantity-widget">
                                                <div class="ref-decrease"><span></span></div>
                                                <input type="text" value="{{ item.quantity }}">
                                                <div class="ref-increase"><span></span></div>
                                              </div>
                                            </div>
                                            <div class="ref-product-qty-message"></div>
                                          </div>
                                          <div class="ref-product-remove">
                                            <script>
                                              document.addEventListener('DOMContentLoaded', function () {
                                                // Listen for clicks on the decrease and increase buttons
                                                document.querySelectorAll('.ref-decrease, .ref-increase').forEach(function (button) {
                                                  button.addEventListener('click', function (event) {
                                                    if (event.target.closest('.ref-decrease')) {
                                                      // Open Facebook when the decrease button is clicked
                                                      
                                                      window.location.href = '{% url 'products:update_cart_d' item.product.id %}';
                                                    } else {
                                                      // Open Google when the increase button is clicked
                                                      window.location.href = '{% url 'products:update_cart_i' item.product.id %}';
                                                    }
                                                  });
                                                });
                                              });
                                            </script>
                                            
                                          
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="ref-price-col">
                                    <div class="ref-product-price">{{ item.product.price }} JD</div>
                                  </div>
                                  <div class="ref-quantity-col">
                                    <div class="ref-product-quantity">
                                      <div class="ref-quantity-container" data-reflow-product="{{ item.product.id }}" data-reflow-max-qty="999" data-reflow-quantity="{{ item.quantity }}">
                                        <div class="ref-quantity-widget">
                                          <div class="ref-decrease"><span></span></div>
                                          <input type="text" style="width: 2.9em;" value="{{ item.quantity }}">
                                          <div class="ref-increase"><span></span></div>
                                        </div>
                                      </div>
                                      <div class="ref-product-qty-message"></div>
                                      <a class="ref-product-remove" href="{% url 'products:remove_from_cart' item.product.id %}">Remove</a>
                                    </div>
                                  </div>
                                  <div class="ref-total-col">
                                    <div class="ref-product-total">
                                      <div class="ref-product-total-sum">
                                        {{ item.product.price|multiply:item.quantity }}
                                      </div>

                                    </div>
                                  </div>
                                </div>
                              {% endfor %}
                            {% else %}
                              <p>No items in the cart.</p>
                            {% endif %}
                            </div>
                            <div class="ref-footer">
                              <div class="ref-links"><a href="https://google.com" target="_blank">Terms &amp; Conditions</a><a href="https://google.com" target="_blank">Privacy Policy</a><a href="https://google.com" target="_blank">Refund Policy</a></div>
                              <div class="ref-totals">
                                  <div class="ref-subtotal">Subtotal: {{ total }} JD</div>
                                  <form class="ref-accept-terms" style="display: block;" method="POST" action="{% url 'products:checkout' %}">
                                    {% csrf_token %}
                                    <label>
                                        <input id="ref-terms-agreement" type="checkbox" data-state-src="accept-terms" required />
                                        <span class="ref-terms-agreement-text">
                                            <span>I agree to the </span>
                                            <a href="https://google.com">Terms &amp; Conditions</a>
                                            <span>, </span>
                                            <a href="https://google.com">Privacy Policy</a>
                                            <span> and </span>
                                            <a href="https://google.com">Refund Policy</a>
                                        </span>
                                    </label>
                                
                                    <div class="ref-row ref-checkout-buttons">
                                        <button class="ref-button ref-standard-checkout-button" type="submit">Checkout</button>
                                    </div>
                                </form>
                                
                                  
                              </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
