{% extends 'base_generic.html' %}
{% block title %}{{game.title}} - Modder Games{% endblock %}
{% block content %}
    <section class="py-5">
      <div class="container py-5">
        <div data-reflow-type="product" data-bss-dynamic-product data-bss-dynamic-product-param="product" data-reflow-shoppingcart-url="shopping-cart.html">
          <div class="reflow-product">
              <div class="ref-media">
                  <div class="ref-preview"><img class="ref-image active" src="{{game.img.url}}" data-reflow-preview-type="image" /></div>
              </div>
              <div class="ref-product-data">
                  <h2 class="ref-name">{{game.title}}</h2>
                  <div class="ref-categories"><span class="ref-category">{{game.category}}</span></div><strong class="ref-price ref-on-sale">{{game.price}} JD</strong><span data-reflow-type="add-to-cart" data-reflow-shoppingcart-url="shopping-cart.html" data-reflow-addtocart-text data-reflow-product="589605485" data-reflow-variant="199976733_s">
                      <div class="reflow-add-to-cart ref-product-controls">
                        <div class="ref-variant">
                      <ul>
                        {% for h in hgame %}
                            <li>
                                <a href="/product/{{h.slug}}">
                                    {{ h.title }}
                                </a>
                            </li>
                        {% endfor %}
                        </ul>
                        
                      </div>

                      <span data-reflow-variant="199976733_s" data-reflow-product="589605485" data-reflow-max-qty="999" data-reflow-quantity="1">

                                    <form method="post" action="{% url 'products:add_to_cart' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="product_id" value="{{ game.id }}">
                                      
                                        <div class="ref-quantity-widget">
                                          <div class="ref-decrease"><span></span></div>
                                          <input  type="text" name="quantity" style="width: 2.9em;" value="1" />
                                          <div class="ref-increase"><span></span></div>
                                        </div>
                                      
                                        <button type="submit" class="btn btn-primary">Add to cart</button>
                                      </form>
                                      
                          
                        
                      </div>
                  </span>
                  <div class="ref-description">{{game.discription}}</div>
              </div>
          </div>
      </div>
      </div>
    </section>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
          const decreaseBtn = document.querySelector(".ref-decrease");
          const increaseBtn = document.querySelector(".ref-increase");
          const quantityInput = document.querySelector("input[name='quantity']");
        
          decreaseBtn.addEventListener("click", function() {
            let currentValue = parseInt(quantityInput.value);
            if (currentValue > 1) {
              quantityInput.value = currentValue - 1;
            }
          });
        
          increaseBtn.addEventListener("click", function() {
            let currentValue = parseInt(quantityInput.value);
            quantityInput.value = currentValue + 1;
          });
        });
        </script>
        
    {% endblock content %}