{% extends 'base_generic.html' %}
{% block title %}All Games - Modder Games{% endblock %}
{% block content %}


    <section class="py-5">
      <div class="container py-5">
        <div class="row mb-4 mb-lg-5">
          <div class="col-md-8 col-xl-6 text-center mx-auto">
            <h2 class="fw-bold">All Games</h2>
          </div>
        </div>
        <div class="row mx-auto">
          <div class="col">
            <div class="container">
              <div class="row">
                {% for game in games %}
                <div class="col-sm-6 col-lg-4 col-xl-3 mb-4" style="text-align: center;">
                  <div class="card" style="max-width: 250px;">
                  <a class="ref-product" href="/product/{{game.slug}}">
                    <img src="{{ game.img.url }}" class="card-img-top" alt="{{ game.title }}" style="max-height: 300px;">
                    <div class="ref-product-info">
                      <h5  class="ref-name" style="background-color: white; border-bottom-left-radius: var(--bs-card-inner-border-radius); border-bottom-right-radius: var(--bs-card-inner-border-radius); font-size: 1.45rem; color: black;">{{ game.title }}</h5>
                       <h5 class="ref-price ref-on-sale" style="font-weight: bold;">{{ game.price }} JD</h5>
                      <p> </p>
                      
                      <div class="ref-addons">
                        <form id="add-to-cart-form" style="display: none;" method="POST" action="{% url 'products:add_to_cart' %}">
                            {% csrf_token %}
                            <input type="hidden" id="product-id-field" name="product_id">
                            <input type="hidden" name="quantity" value="1">
                        </form>
                        <a class="ref-button preview-toggle" href="#" data-product-id="{{ game.id }}" onclick="showAlert()">Add to Cart</a>
                    </div>                   
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      {% if games.has_other_pages %}
      <nav>
        <ul class="pagination d-flex justify-content-center">
          
          {% if games.has_previous %}
            <li class="page-item"><a class="page-link" aria-label="Previous" href="?page={{games.previous_page_number}}"><span aria-hidden="true">«</span></a></li>
          {% endif %}

          {% for i in games.paginator.page_range %}
            <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
          {% endfor %}

          {% if games.has_next %}

            <li class="page-item"><a class="page-link" aria-label="Next" href="?page={{games.next_page_number}}"><span aria-hidden="flase">»</span></a></li>
          {% endif %}

        </ul>
    </nav>
    {% endif %}

    </section>

    
    {% endblock content %}
