{% extends 'base_generic.html' %}
{% block title %}Send Money - Modder Games{% endblock %}
{% load static %}
{% block content %}






<section class="py-5">
    <div class="container py-5">
      <div class="row mb-4 mb-lg-5">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
          <h2 class="fw-bold text-success mb-2">Buy Now</h2>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-md-6 col-xl-4">
          <div class="card1">
           
              <div class="card-body text-center d-flex flex-column align-items-center">
              <div style="background-color:white; border-top-left-radius: 2em; border-top-right-radius: 2em; ">
                <img src="{% static 'assets/img/1.png' %}"  width="100%"  >
              </div>
            </br>
                <div class="mb-3">
                    <h3>Alias</h3>
                    <h5 class="fw-bold text-success mb-2">
                        MODDER</h5>
                    
                </div>

            <div class="mb-3">
                    <h3>Bank</h3>
                    <h5 class="fw-bold text-success mb-2">
                        Orange Money</h5>
                    
                </div>
            <div class="mb-3">
                    <h3>Total</h3>
                    <h5 class="fw-bold text-success mb-2">
                        {{total}} JD</h5>
                    
                </div>

                <div class="mb-3">
                    <h4>Money Sent ? Click Submit</h4>

                    
                </div>

                <a class="btn btn-primary" href="{% url 'products:sendm' %}?send_data=1">Submit</a>


          <br>
            </div>
          </br>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

{% endblock content %}
